
<form action="/cadastrar" method="post">
    <input type="text" placeholder="Aluno(a)" name="aluno" class="form-control">
    <input type="number" placeholder="Nota 1" name="nota1" class="form-control">
    <input type="number" placeholder="Nota 2" name="nota2" class="form-control">
    <input type="submit" value="Cadastrar" class="btn btn-primary">
</form>

<table class="table table-striped table-success">
    <thead>
        <tr>
            <th>#</th>
            <th>Aluno(a)</th>
            <th>Nota 1</th>            
            <th>Nota 2</th>
            <th>Média</th>
            <th>Remover</th>
        </tr>
    </thead>
    <tbody>
        {{#each alunos}}
            <tr>
                <td>{{@index}}</td>
                <td>{{nome}}</td>
                <td>{{nota1}}</td>
                <td>{{nota2}}</td>
                <td>{{media}}</td>
                <td> <a href="/remover/{{codigo}}" class="btn btn-danger">Remover</a></td>
            </tr>
        {{/each}}
    </tbody>
</table>

